<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >My Expense Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style1.css">
    <nav class="nav">
        <h1 id="expnav">Expense Tracker</h1>
        <br><br>
        <a href="http://127.0.0.1:5500/views/index.html"><button id="logout">Logout</button></a>
    
       
    </nav>
</head>
   
<body>
    
    <div class="wrapper">
    <label class="label" id="amnt">My Expense Amount:</label> 
    <input type="number" id="amount" name="amount"><br>
    <br>
    <label >Choose Description:</label> 
    <input type="text" id="desc"> <br>
    <br>
    <label class="label" id="cate">Choose a category:</label> 
    <select    id="cat" name="category"> <br>
    <option>Movie</option>
    <option>Fuel</option>
    <option>Food</option>
    <option>Fashion</option>
    <option>Miscellanous</option><br>
    <br>
    <input type="button" value="Add Expense" onclick="addExpense(event)" id="addexpense">
   
    <button id="premiumbtn" onclick="gopremium(event)">Go Premium</button>
    <ul id="pop">

    </ul>
   </div>
   <div id="pagination"></div>
   <div id="expense"></div>
   <!-- <label>NUmber of expenses per page:</label>
    <select id="limit">
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option>
    </select> -->
   <div id="premiumdiv"></div>
   
   <footer class="footer">
    <h3>© Copyright 2022, Expense Tracker.</h3>
</footer>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
   <script src="expense.js"></script>
   </body>
</html>