<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div>
      <div></div>
      <h1>Forget Password</h1>
      <form method="post" id="forgetPassword-form" >
        <div>
          <input type="email" required name="email">
          <span></span>
          <label>Enter Your Email </label>
        </div>
        <input type="submit" value="Submit Mail" >
      </form>
    </div>
    <script src="forgot.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
  </body>
  
</html>