<!DOCTYPE html>
<head>

</head>
<body>
    <h1 style="text-align:center; background-color: rebeccapurple; size: 5cm;">Welcome to Expense Tracker</h1>
    <h3 style="text-align:center;background-color: rosybrown" >Please Login with your credentials</h3>
    <br><br><br>
    <form style="text-align:center" style="text-align:center">
        <label>Enter Email :</label>
        <input type="email" id="e1">
        <br><br>
        <label>Enter Password :</label>
        <input type="password" id="p1">
        <br><br>
        <button type="button" id="b1" style="background-color:steelblue;color:beige">Login</button>
    </form>
    <br><br><br>
    <a href="http://127.0.0.1:5500/views/signup.html">
        <button style="background-color: firebrick;color: cadetblue">Signup</button>
    </a>
    <a href="http://127.0.0.1:5500/views/forgotpassword.html">
        <button style="background-color: firebrick;color: cadetblue">Forgot Password</button>
    </a>
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
     <script src="login.js"></script>
</body>

</html>