<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Expenses</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <nav class="nav premium">
      <h1 id="expnav">Expense Tracker</h1>
    </nav>
  </head>
  <body>
    <div id="exppre">
      <span class="elements" id="userId">User Id</span>
      <span class="elements">Name</span>
    </div>
      <div id="predetails">
        <div class="popup-container" id="container">
          <div class="popup">
              <button id="close">&times;</button>
              <span class="popele">Amount</span>
              <span class="popele">Description</span>
              <span class="popele">Category</span>
             <div id="popin">

             </div>
           
          </div>
      </div>
      </div>
      <a id="back" href="./expensetracker.html">Back to Adding Expense</a>
  </body>
</html>